


 .timeline-container {
 margin: 100px 0px 50px 0px;
  text-align: center;
}

.timeline-title {
  
  color: var(--plus-blue-color);
  margin-bottom: 50px;
}

.timeline-content > h3{
  color: var(--minus-blue-color);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 40px;
}

.timeline-circle {
  width: 40px;
  height: 40px;
  background-color: var(--plus-blue-color);
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline-content {
  background-color: white;
  padding: 15px;
  border-left: 4px solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.blue-border {
  border-left-color: var(--plus-blue-color);
}

.light-blue-border {
  border-left-color: var(--minus-blue-color);
}

/* Responsivlik */
@media (min-width: 768px) {
  .timeline {
    flex-direction: row;
    justify-content: space-between;
  }
  .timeline-item {
    width: 22%;
  }
}
