.footer-container {
    background-color: var(--minus-blue-color);
    color: white;
    padding: 100px 20px 50px 20px;
    text-align: start;

  }
  
  
  .footer-content {
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }


  .footer-section p{
    display: inline;

  }
  
  @media (min-width: 768px) {
    .footer-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .footer-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    width: 120px;
  }
  
  .footer-title {
   
    margin-bottom: 20px;
  }
  
  .footer-text {
   
    line-height: 1.5;
  }
  
  
  .footer-link {
    
    cursor: pointer;
    margin-bottom: 5px;
  }
  .footer-link > a{
    text-decoration: none;
    color: var(--white-color);
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-number {
    font-size: 18px;
    font-weight: bold;
  }
  
  .social-icons {
     margin-top: 10px;
    text-align: left;
  }
  
  .icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .icon:hover {
    color: #93c5fd;
  }
  

  /* ? footer */
footer {
  /* padding: 50px 0px; */
  color: var(--white-color);
  text-align: left  ;
}
footer img {
  /* width: 250px;  */
  margin-bottom: 20px;
  /* background-color: var(--white-color); */
  cursor: pointer;
  transition: all 0.4s ease;
}
.title {
  margin-bottom: 30px;
  cursor: pointer;
}
footer div p {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 1s ease;
}
footer div p:hover {
  text-decoration: underline lavender;
  color: var(--white-color);
}


.tel-one{
display: block;
  margin-bottom:5px;
}

.tel:hover{
  text-decoration: underline white;

}

.footer-section .tel{
  color: var(--white-color);
}

.social-icons .icon{
  padding: 5px;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 40px;
  margin-right: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.social-icons .icon:hover {
  color: var(--minus-blue-color);
  background-color: var(--white-color);
  /* border-radius: 50%; */
}

footer > .display {
  align-items: flex-start;
}

/* ? Responsive */

@media(max-width:550px){

  .footer-grid{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  /* .f_s_none{
    display: none;
  } */
   
}